*.log
*.sqlite3
/front_end/lib/README_.md
/back_end/media/
/back_end/static/
# Ignore all migration files
**/migrations/*
!**/migrations/__init__.py

# Ignore all Python cache files
**/*.pyc
**/__pycache__

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif
backend/venv/
front_end/lib/setup.ps1
*.env
.venv_semo