Django==5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
python-dotenv==1.0.0
drf-spectacular==0.27.0
gunicorn==21.2.0
pillow==11.1.0

# Optional: Required only for PostgreSQL database
psycopg2-binary==2.9.9

# to helps manage hierarchical data (nested categories)
django-ltree==0.5.3

# Image processing
django-imagekit==4.1.0

# Stripe
stripe==11.6.0
python-decouple==3.8

# Redis for caching
redis==5.2.1
django-redis==5.4.0

# CSV processing
python-slugify==8.0.4

# Excel processing
XlsxWriter==3.2.2
pandas==2.2.3

# Google Maps API
googlemaps==4.10.0

# Full-text search
djangorestframework-gis==1.1

# Celery for task queue and event processing
celery==5.3.6
django-celery-results==2.5.1
django-celery-beat==2.7.0
amqp==5.2.0